header{color: rgb(55, 77, 145);font-size: 200%;font-family: Forte; text-align: center;}
body{background-image: url(background.jpg);background-size: cover;}
h1{color:rgba(12, 96, 250, 0.747);text-align: center;font-family:Broadway;font-size: 40px;}
h2{color: rgba(25, 155, 79, 0.829);text-align: left;font-size: 30px;font-family: Algerian;}
p{color:rgb(128, 0, 0);font-size: 20px;font-family:Comic Sans MS;}
.button:hover{ color: rgb(99, 88, 88); background-color: rgba(0, 0, 0, 0);}
.button{
    color:rgb(206, 142, 142);
    background-size: 100%;
    background-image: url(technology.jpg);
    padding: 1%;